.ramphor_memberships {
    #post-body #postbox-container-2 {
        margin-top: -30px;
    }

    .panel-wrap.data {
        position: relative;
        padding-left: 20%;
        overflow: hidden;
    }

    .membership-tabs {
        background-color: #fafafa;
        position: absolute;
        width: 20%;
        height: 100%;
        left: 0;
        margin: 0;
    }

    .ramphor-memberships-panels {
        padding-left: 15px;
    }
}

#wl-membership-plan-data .inside {
    padding: 0;
    margin: 0;
}
