.ramphor_memberships #post-body #postbox-container-2 {
    margin-top: -30px;
}

.ramphor_memberships .panel-wrap.data {
    position: relative;
    padding-left: 20%;
    overflow: hidden;
}

#wl-membership-plan-data .inside {
    padding: 0;
    margin: 0;
}

.ramphor_memberships .membership-tabs {
    background-color: #fafafa;
    position: absolute;
    width: 20%;
    height: 100%;
    left: 0;
    margin: 0;
}

.ramphor_memberships .ramphor-memberships-panels {
    padding-left: 15px;
}
